if new RegExp('//cn\.').test(document.location.href)
  iframe(src="http://cn." + unsafeContentHostname + "/web-dev-iframe.html")
else
  iframe(src="http://" + unsafeContentHostname + "/web-dev-iframe.html")
